@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include desktop {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}
