$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$colour-black: #403e3d;
$colour-white: #ffffff;
$secondary-slate: #5c667e;
$colour-cloud: #bdc5d5;
$colour-graphite: #232940;
$colour-grey: #f7f8f9;
$colour-red: #c94515;
