$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$colour-white: #ffffff;
$colour-cloud: #bdc5d5;
$secondary-slate: #5c667e;
$colour-blue: #0095ff;
$colour-graphite: #232940;
$colour-black: #403e3d;
$colour-red: #d22d2d;
