@use "../../styles/partials/mixins" as *;

.content__details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem;
  @include tablet {
    padding: 0 2.5rem;
  }
  @include desktop {
    flex-direction: row;
    padding: 0 5rem;
  }
}
